/_UpgradeReport_Files
/first.v12.suo
/UpgradeLog.htm
/UpgradeLog.XML
/first.userprefs
/first/first/obj
/first/first/bin
/first/first.Android/obj
/first/first.Android/bin
/first/first.iOS/obj
/first/first.iOS/bin
/first/first.WinPhone/obj
/first/first.WinPhone/Bin
